<h3>Listado</h3>
<ul>

  @for(character of characters(); track character.id; let i = $index){
    @if (character.power > 500) {
      <li>
        <span>{{ i + 1 }} - {{ character.name }}</span>
        <strong
          [class.text-danger]="character.power > 8000"
          [class.text-info]="character.power < 8000"
        >
          {{ character.power}}
        </strong>

      </li>
    } @else {
      <li> <strong>Personaje con poder bajo</strong></li>
    }
  }

  <!--
    <li *ngFor="let character of characters();">
      {{  character.name }}
    </li> -->
</ul>
